.Recipe {
  background-color: #a8d0da;
  color: #406d96;

  margin-left: 15px;
  margin-top: 15px;

  padding-bottom: 5px;

  min-width: 300px;
  max-width: 1000px;

  border-radius: 1rem;
  min-height: 85px;
  height: auto;
}

.Header {
  margin-left: 4px;
  margin-top: 3px;
  padding-right: 7px;
  max-height: 48%;
  max-width: 100%;
  overflow: hidden;
}

.Ingredients {
  border-right: 2px dashed #406d96;
  padding-left: 5px;
  margin-top: 2.5%;
  min-width: 20%;
  max-width: 40%;
  height: 45%;
  margin-right: 0px;
  float: left;
}

.body {
  margin-left: 10px;
  float: left;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 5px;
}
